
.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  /* header */
  .header{
    background-image: url('../images/developer.png'), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
  }
/* Nav Styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;

}
.nav-title>span{
    color: #FD6E0A;
}
nav>ul>li{
    list-style: none;
    margin-right: 50px;
    
}
nav>ul>li>a{
    text-decoration: none;
    font-size: 20px;

}
nav>ul{
    display: flex;
    align-items: center;
}
.dark-2{
    color: #474747 ;
}
.btn-primary{
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;

}
/* banner styles */
.banner-greetings{
    font-size: 45px;
    font-weight: 600px;
}
.banner-title{
    font-weight: bold;
    font-size: 85px;
}
.banner-profile-picture{
    width: 584px;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px ;
}
.banner-content{
    max-width: 585px;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-details{
    font-size: 18px;
    color: #757575;

}
.secondary-bg{

}
/* about styles */
.about{
     border-radius: 10px;
     padding: 100px 130px;
     text-align: center;
}
/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-description{
    font-weight: 600;
}